:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --blue-primary: hsl(180, 66%, 49%);
  --purple-primary: hsl(257, 27%, 26%);
  --Gray-400: hsl(0, 0%, 75%);
  --Gray-500: hsl(257, 7%, 63%);
  --Gray-900: hsl(255, 11%, 22%);
  --Gray-950: hsl(260, 8%, 14%);
  --Red: hsl(0, 87%, 67%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--blue-primary);
  font-weight: 500;
}

a:hover {
  cursor: pointer;
  color: hsl(from var(--blue-primary) h s calc(0 + 25));
}

body {
  margin: 0;
}

p,
span,
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  color: var(--Gray-950);
  font-weight: 700;
  font-size: clamp(2.75rem, 3rem, 3.5rem);
  line-height: 1.1;
}

button {
  background-color: var(--blue-primary);
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border: none;
}

button:hover {
  /*  1 +40 
  background: hsl(from var(--blue-primary) h s calc(-15 + 80));*/
  opacity: 0.5;
  cursor: pointer;
}

footer {
  background-color: var(--Gray-950);
  color: var(--Gray-500);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;

  img {
    filter: brightness(50) sepia(0) hue-rotate(0deg) saturate(1);
  }

  ul {
    flex-direction: column;
  }
}

footer li:hover {
  cursor: pointer;
  color: var(--blue-primary);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
}

ul {
  color: var(--Gray-500);
  list-style: none;
  gap: 1rem;
  font-weight: 700;
  display: flex;
  font-size: 0.8rem;
}

li:hover {
  cursor: pointer;
  color: var(--Gray-950);
}

#app {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.Banner {
  background: url("assets/bg-boost-desktop.svg") no-repeat center/cover;
  background-color: var(--purple-primary);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-weight: 700;
    color: #fff;
    font-size: clamp(1.5rem, 1.75rem, 2rem);
  }

  button {
    margin-top: 10px;
  }
}

.Box-Content {
  max-width: 1000px;
  margin: 0 auto;
}

.Copied {
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  border: none;
  background-color: var(--purple-primary);
}

.Copy-Btn {
  background-color: var(--blue-primary);
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  border: none;
}

.Copy-Btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.Details::before {
  content: "";
  background-color: var(--blue-primary);
  width: 50px;
  height: 10px;
  position: absolute;
  /*
  left: -50px;
  top: 70px;
  */
}

.Details::after {
  content: "";
  background-color: var(--blue-primary);
  width: 50px;
  height: 10px;
  position: absolute;
  /*
  right: -50px;
  top: 70px;
  */
}

.Info {
  display: flex;
  text-align: left;
  gap: 5rem;

  .Footer-F,
  .Footer-C,
  .Footer-R {
    display: flex;
    flex-direction: column;
  }

  span {
    color: white;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  ul {
    gap: 0.5rem;
    font-weight: 500;
    color: var(--Gray-400);
  }
}

.Input-Error {
  position: absolute;
  font-size: 0.8rem;

  p {
    font-style: italic;
    color: var(--Red);
  }
}

.LeftHeader {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.logo {
  max-width: 160px;
  max-height: 30px;
}

.Mid {
  background-color: whitesmoke;
  width: 100%;
}

.Middle-Details {
  display: flex;
  height: 300px;
  position: relative;
  margin-top: clamp(3rem, 3.5rem, 4rem);

  span {
    padding: 1rem 0;
  }

  p {
    color: var(--Gray-500);
    font-size: 0.8rem;
  }

  .Brand {
    position: relative;
    height: 200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    max-width: 300px;
    text-align: left;
    background-color: #fff;
  }

  .Details {
    position: relative;
    height: 200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: left;
    width: 70%;
    max-width: 300px;
    /*
    top: 40px;
    left: 50px;
    */
    padding: 1rem;
    background-color: #fff;
  }

  .Customizable {
    position: absolute;
    height: 200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: left;
    padding: 0 1rem;
    width: 70%;
    /*
    top: 75px;
    right: 0;
    */
    max-width: 300px;
    padding: 1rem;
    background-color: #fff;
  }
}

.Middle-Heading {
  width: 400px;
  margin: 3rem auto;

  p {
    color: var(--Gray-400);
    font-size: 0.85rem;
  }

  h2 {
    font-weight: 700;
    font-size: clamp(1.25rem, 1.5rem, 1.75rem);
  }
}

.Middle-Section {
  display: flex;
  flex-direction: column;

  img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--purple-primary);
    top: -30px;
    left: 15px;
    position: absolute;
    padding: 0.95rem;
  }
}

#New-Links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.NewLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 1rem;
  background-color: #fff;
  align-items: center;

  .NewUrl {
    color: var(--blue-primary);
  }
}

.NewSection {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Other {
  display: flex;
  gap: 10rem;
}

.RightHeader {
  display: flex;
  gap: 1rem;
  color: var(--Gray-500);
  align-items: center;

  span {
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.Social-Medias {
  display: flex;
  gap: 1rem;

  img {
    width: 20px;
    height: 20px;
  }
}

.Social-Medias img:hover {
  background-color: var(--blue-primary);
  cursor: pointer;
  border-radius: 50%;
}

.Text-Area {
  position: relative;
  top: -25px;
  background: url("assets/bg-shorten-desktop.svg") no-repeat center/cover;
  background-color: var(--purple-primary);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
}

.Text-Wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  position: relative;

  button {
    border-radius: 5px;
  }
}

.Top-Left {
  text-align: left;

  p {
    color: var(--Gray-500);
  }

  button {
    margin-top: 1rem;
  }
}

.Top-Right {
  position: relative;
  right: -220px;
  height: 350px;
}

.Top-Section {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0 4rem;
}

.Upper {
  background-color: #fff;
  width: 100%;
  overflow: clip;
}

.Url-Input {
  max-width: 800px;
  width: 100%;
  border-radius: 5px;
}

.Url-Error {
  color: var(--Red);
  outline: 3px solid var(--Red);
}

.work {
  max-width: 600px;
  height: 100%;
}

.Mobile-Header {
  display: none;
}

.B1,
.B2,
.B3 {
  display: none;
}
/*           Desktop              */
@media (min-width: 1001px) {
  .Middle-Details {
    .Details {
      top: 40px;
      left: 50px;
    }

    .Customizable {
      top: 75px;
      right: 0;
    }
  }

  .Details::before {
    content: "";
    left: -50px;
    top: 70px;
  }

  .Details::after {
    content: "";
    right: -50px;
    top: 70px;
  }

  .Input-Error {
    bottom: -24px;
    left: 40px;
  }
}

/*            Mobile               */
@media (max-width: 1000px) {
  header {
    display: none;
  }

  footer {
    display: block;

    .Info {
      flex-direction: column;
      gap: clamp(1.75rem, 2rem, 2.5rem);
      text-align: inherit;
    }

    .Social-Medias {
      align-self: center;
    }
  }

  .B1,
  .B2,
  .B3 {
    width: 35px;
    height: 5px;
    background-color: var(--Gray-500);
    margin: 6px 0;
    transition: 0.4s;
    display: block;
  }

  .change .B1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .B2 {
    opacity: 0;
  }

  .change .B3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .Banner {
    background: url("assets/bg-boost-mobile.svg") no-repeat center/cover;
    background-color: var(--purple-primary);
  }

  .Details::before {
    content: "";
    top: -60px;
    transform: rotate(90deg);
    left: 43%;
  }

  .Details::after {
    content: "";
    right: 40%;
    bottom: -30px;
    transform: rotate(90deg);
  }

  .Middle-Details {
    flex-direction: column;
    margin-bottom: 2rem;
    height: 100%;
    gap: 5rem;
    align-self: center;

    span {
      text-align: center;
    }

    .Customizable {
      position: relative;
      width: 100%;
    }

    .Details {
      width: 100%;
    }
  }

  .Middle-Heading {
    p {
      margin-top: 1rem;
      padding-inline: 20px;
    }
  }

  .Middle-Section {
    img {
      left: 40%;
      padding: 1rem;
      height: 70px;
      width: 70px;
    }
  }

  .Mobile-Burger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0px;
  }

  .Mobile-Header {
    display: block;
    margin: 2rem 1.5rem;
    position: relative;

    .logo {
      position: absolute;
      left: 0;
      top: 0px;
    }

    .Mobile-Heading {
      display: none;
      position: absolute;
      overflow: clip;
      z-index: 999;
      margin-top: clamp(1rem, 1.5rem, 2rem);
      border-radius: 5px;
      background-color: var(--purple-primary);
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      width: 100%;
    }

    a,
    span {
      font-weight: 700;
      color: #fff;
    }

    hr {
      width: 90%;
      margin: auto;
    }

    button {
      margin-bottom: 1rem;
    }

    .open {
      display: flex;
    }
  }

  .NewLink {
    text-align: left;
    flex-direction: column;
    align-items: initial;
  }

  .NewSection {
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin-top: 5px;
    align-items: initial;
  }

  .Other {
    gap: clamp(3rem, 3.5rem, 4rem);
    flex-direction: column;
    margin-top: 2rem;
  }

  .Text-Area {
    width: 90%;
    margin: 0 auto;
    height: 150px;
  }

  .Text-Wrapper {
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.75rem;
  }

  .Top-Left {
    text-align: center;

    h1 {
      font-size: clamp(2rem, 2.5rem, 3rem);
    }
  }

  .Top-Right {
    right: -95px;
  }

  .move {
    right: -900px;
  }

  .Top-Section {
    flex-direction: column-reverse;
  }

  .Url-Input {
    min-height: 36px;
  }

  .UrlLink {
    border-bottom: 1px solid gray;
    text-align: left;
  }

  .work {
    min-width: 550px;
    width: 100%;
  }
}

